*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    font-weight: normal;
}
.shap{
    margin-left: 10px; margin-top: 10px;
    width: 200px;
    height: 200px;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
#square:hover{
    background-color: rgb(131, 7, 7);
}
#circle{
    border-radius: 50%;
}
#circle:hover{
    background-color: rgb(5, 53, 5);
}
#diamond:hover{
    background-color: rgb(5, 5, 66);
}
#diamond{
    margin-top: 40px;
    height: 141px;
    width: 141px;
     rotate: 45deg;
     translate: 30px;
    }
#diamond h1{
    rotate: -45deg;
}